
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background: linear-gradient(to right, #ce8eec,#9f13ea,#841abc,#500479);
     background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fthpthoanghoatham.edu.vn%2Fintroduce-86-imagen-colorful-background-images%2F&psig=AOvVaw2cOu4mg8PdnUJ_hvDyCIIi&ust=1700063754908000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCOiA2t7sw4IDFQAAAAAdAAAAABAR");
    font-family: 'Dancing Script', cursive;
    color: #000;
}
h1{
    text-align: center;
}
.jumbotron {
  background: rgba(255, 255, 255, 0.40);
  transform-style: preserve-3d;
  transition: .3s;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
  max-width: 60rem;
  width: 100%;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: .5rem;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.well{
  background: rgb(248, 248, 248);
  max-width: 60rem;
  width: 100%;
  margin: 1rem auto;
  padding: 1.5rem;
  border-radius: .5rem;
  border: none;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.2);
}
#savebtn{
    font-size: 1.5rem;
    background: #230320;
    outline: none;
    border: none;
}
#savebtn:hover{
    background: #55596b;
}
#clrbtn{
    font-size: 1.5rem;
    background: #3c1d3c;
    outline: none;
    float: right;
    border: none;
}
#clrbtn:hover{
    background: #371736;
}



/* issue list */
.labid{
    display: flex;
    gap: 1rem;
    font-family: 'Dancing Script', cursive;
    border-bottom: 1px solid #333;
}
.labid span{
    background: rgb(186, 143, 229);
    color: rgb(255, 255, 255);
}
.labid h6{
    margin-top: 5px;
}
.well p glyphicon-user{
    margin-left: 1rem;
    padding: 5rem;
}
.well #closebtn{
    background: rgb(114, 74, 144);
    outline: none;
    border: none;
}
.well #closebtn:hover{
    background: rgb(114, 74, 144);
}
.well #delbtn{
    background: rgb(124, 63, 104);
    outline: none;
    border: none;
}
.well #delbtn:hover{
    background: rgb(124, 63, 104);
}


/* back button */
.backbtn {
    position: absolute;
    font-size: 3rem;
    float: left;
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 13rem;
    color:rgb(255, 255, 255);
}
.backbtn a{
    text-decoration: none;
    color: inherit;  
}
